HOST				= i386-elf
ARCH				= i386
NAME				= kos
NAME_BIN			= $(NAME).bin
NAME_ISO			= $(NAME).iso

ROOT_DIR			= .
ISO_DIR				= isodir
KERNEL_DIR			= kernel
LIBK_DIR			= libk
LIBK				= libk.a
GRUB_CFG			= grub.cfg

CC					= $(HOST)-gcc
CPP					= $(HOST)-g++
AS					= nasm
AR					= $(HOST)-ar
GDB					= $(HOST)-gdb
RM					= rm -rf

AFLAGS				= -f elf32

CFLAGS_COMMON		= -std=gnu11 -ffreestanding -O2 -Wall -Wextra -Wshadow
MANDATORY_CFLAGS	= -fno-builtin -fno-stack-protector -nostdlib -nodefaultlibs
CFLAGS				= $(CFLAGS_COMMON) $(MANDATORY_CFLAGS)

CPPFLAGS_COMMON		=
MANDATORY_CPPFLAGS	= -fno-exceptions -fno-rtti
CPPFLAGS			= $(CPPFLAGS_COMMON) $(MANDATORY_CPPFLAGS)
